.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  backdrop-filter: blur(10px);
}

.modalOverlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.modalContent {
  padding: 20px;
  border-radius: 5px;
  background-color: #d6d6d6;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
  }

  svg {
    font-size: 36px;
    fill: #fff;
  }
}
