@import "../../styles/common.scss";

.card {
  height: 380px;
  width: 340px;
  margin: 26px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  animation-duration: 1s;
  animation-name: fade;
}

.image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.cardOverlay {
  opacity: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.6);
}

.card:hover .cardOverlay {
  opacity: 1;
}

.cardButton {
  background-color: transparent;
  border: none;
  outline: none;
  margin: 3px;
  pointer-events: all;
}

.cardIcon {
  font-size: 26px;
  fill: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.cardIconExpand {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  fill: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.noImage {
  opacity: 0;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  svg {
    font-size: 60px;
    fill: crimson;
    border: 3px solid crimson;
    padding: 5px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  p {
    opacity: 0.7;
  }
}

.modalButtons {
  margin: 10px;
  display: flex;
}
