.auth {
  height: calc(100vh - 70px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  background: #fff;
  min-height: 30vh;
  width: 35vw;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 10px;
  color: #333;
}

.name {
  width: 80%;
  display: flex;
  justify-content: space-between;

  input {
    width: 48%;
  }
}

.field {
  width: 80%;
  height: 30px;
  padding: 3px 0px;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 16px;
  outline: none;
  margin-bottom: 10px;
}

.icon {
  font-size: 26px;
  margin-left: 5px;
}

.downloadInput {
  display: none;
}

.downloadLabel {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.buttons {
  display: flex;
}

.googleButton {
  border-radius: 5px;
  padding: 6px 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  border: 1px solid #000;
  cursor: pointer;

  svg {
    font-size: 22px;
  }
}
