.button {
  margin: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 6px 14px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  outline: none;
  background: transparent;

  &:hover {
    opacity: 0.7;
  }

  &:disabled {
    opacity: 0.6;
    cursor: default;
  }
}

.danger {
  color: crimson;
  border: 1px solid crimson;
}

.providerButton {
  font-weight: 700;
  max-width: 300px;
  width: 100%;
  border-radius: 5px;
  padding: 6px 14px;
  margin: 10px;
  display: flex;
  align-items: center;
  border: 1px solid #dadce0;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  &:hover {
    opacity: 0.9;
  }

  svg {
    font-size: 22px;
    width: 20%;
  }
}

.facebookButton {
  background: #1671e8;
  color: #fff;

  svg {
    color: #fff;
  }
}
