.notFound {
  height: calc(100vh - 70px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: center;
  font-size: 34px;

  svg {
    margin-left: 10px;
    font-size: 34px;
  }
}

.text {
  font-size: 18px;
  color: #525252;

  a {
    margin-left: 2px;
    color: #000;
    font-size: 21px;
    transition: all 0.1s ease-in-out;

    &:hover {
      color: #252525;
    }
  }
}
