.pageImage {
  animation-duration: 2s;
  animation-name: fade;
  min-height: calc(100vh - 70px);
}

.image {
  object-fit: cover;
  width: 100%;
  max-height: 85vh;
  border-radius: 5px;
}

.cardHeader {
  display: flex;
  align-items: center;
  padding: 10px 0;

  a {
    color: #000;
    display: flex;
    align-items: center;
    transition: 0.2s ease-in-out;

    &:hover {
      color: #333;
    }
  }

  img {
    margin-right: 15px;
  }

  span {
    margin-right: 5px;
  }
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardLikeCounter {
  display: flex;
  align-items: center;
}

.card {
  padding-bottom: 10px;
  border-bottom: 1px solid #c7c7c7;
}
